<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <appSettings>
    <add key="ecommerceUrl" value="https://www.zattini.com.br/" />
    <!--<add key="ecommerceUrl" value="https://www.shoestock.com.br/" />-->
    <add key="caminhoLogin" value="login" />
    <add key="caminhoCarrinho" value="cart" />
    <add key="login" value="rodrigo.teste.ecommerce@hotmail.com" />
    <add key="senha" value="hremgiknhwwg@21891" />
    <add key="nome" value="Rodrigo" />
    <add key="browser" value=""/>

  </appSettings>

  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <unitTestProvider name="SpecRun" />
    <plugins>
      <add name="SpecRun" />
    </plugins>
  </specFlow>
</configuration>